<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebRTC</title>
</head>
<body>
<h1> WebRTC Training</h1>


<video id="localStream" width="300" controls></video>
<br /><br />

<label>My Connection Token</label>
<br /><br />

<textarea rows="3" cols="100" id="txtMySignal"></textarea>

<input type="text" placeholder="Your friend's signal" id="txtFriendSignal">

<br /><br />


<button id="btnConnect" >Connect</button>

</body>



<script src="bundle.js"></script>
</html>